---
deploychart:
  fullnameOverride: docusaurus
  replicaCount: 2
  image:
    repository: linhng98/mess-around-docs
    tag: 62a53589
    containerPort: 80

  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/enable-opentelemetry: 'true'
    hosts:
      - host: &host docs.homelab.linhng98.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: docs-tls
        hosts:
          - *host
