port=0
bind-interfaces

# Proxy DHCP mode: let the router handle IP allocation,
# dnsmasq only provides PXE boot info as a supplementary response
dhcp-range={{ ansible_facts['default_ipv4']['network'] }},proxy

enable-tftp
tftp-root=/srv/tftp/
dhcp-boot=bootx64.efi,{{ ansible_facts['default_ipv4']['address'] }}
pxe-service=x86-64_EFI, "Boot x86_64 UEFI", bootx64.efi

log-queries
log-dhcp
log-facility=/var/log/dnsmasq.log
