temporal:
  server:
    enabled: true
    config:
      persistence:
        defaultStore: default
        default:
          driver: "cassandra"
        cassandra:
          hosts: ["cassandra.cassandra.svc.cluster.local"]
          port: 9042
          keyspace: temporal
          user: "cassandraa"
          password: "<path:homelab/data/secrets/cassandra#password>"
  admintools:
    enabled: true
  web:
    enabled: true
    replicaCount: 1
    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - &host temporal.homelab.linhng98.com
      tls:
        - secretName: temporal-tls
          hosts:
            - *host
  elasticsearch:
    enabled: false
    external: true
    host: "elastic.homelab.linhng98.com"
    port: "443"
    scheme: "https"
    logLevel: "error"
    username: "elastic"
    password: "<path:homelab/data/secrets/elastic#password>"
  prometheus:
    enabled: false
  grafana:
    enabled: false
  cassandra:
    enabled: false
