---
argo-cd:
  global:
    deploymentAnnotations:
      reloader.stakater.com/auto: "true"
    statefulsetAnnotations:
      reloader.stakater.com/auto: "true"
  configs:
    cm:
      create: true
      admin.enabled: true
      timeout.reconciliation: 180s
      timeout.hard.reconciliation: 0s
      application.instanceLabelKey: argocd.argoproj.io/instance
      resource.exclusions: |
        - apiGroups:
            - cilium.io
          kinds:
            - CiliumIdentity
          clusters:
            - "*"
  controller:
    name: application-controller
    replicas: 1
    args:
      appResyncPeriod: '60'
    metrics: &metrics
      enabled: true
      serviceMonitor:
        enabled: true

  dex:
    enabled: true
    metrics: *metrics

  redis:
    enabled: true
    metrics: *metrics

  server:
    enabled: true
    metrics: *metrics
    ingress:
      enabled: true
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: HTTPS
        cert-manager.io/cluster-issuer: letsencrypt-prod
      ingressClassName: nginx
      paths:
        - /
      hosts:
        - &host argocd.homelab.linhng98.com
      tls:
        - secretName: argocd-tls
          hosts:
            - *host
      https: true

  repoServer:
    enabled: true
    metrics: *metrics

    volumes:
      - name: custom-tools
        emptyDir: {}
      - configMap:
          name: cmp-plugin
        name: cmp-plugin
    initContainers:
      - name: download-tools
        image: alpine:3.17
        command: [sh, -c]

        env:
          - name: AVP_VERSION
            value: 1.11.0
        args:
          - >-
            wget -O argocd-vault-plugin
            https://github.com/argoproj-labs/argocd-vault-plugin/releases/download/v${AVP_VERSION}/argocd-vault-plugin_${AVP_VERSION}_linux_amd64 &&
            chmod +x argocd-vault-plugin &&
            mv argocd-vault-plugin /custom-tools/
        volumeMounts:
          - mountPath: /custom-tools
            name: custom-tools
    extraContainers:
      - name: avp-helm
        command: [/var/run/argocd/argocd-cmp-server]
        image: quay.io/argoproj/argocd:v2.5.7
        envFrom:
          - secretRef:
              name: argocd-vault-plugin-credential
        securityContext:
          runAsNonRoot: true
          runAsUser: 999
        volumeMounts:
          - mountPath: /var/run/argocd
            name: var-files
          - mountPath: /home/argocd/cmp-server/plugins
            name: plugins
          - mountPath: /tmp
            name: tmp

          # Register plugins into sidecar
          - mountPath: /home/argocd/cmp-server/config/plugin.yaml
            subPath: avp-helm.yaml
            name: cmp-plugin

          # Important: Mount tools into $PATH
          - name: custom-tools
            subPath: argocd-vault-plugin
            mountPath: /usr/local/bin/argocd-vault-plugin

      # argocd-vault-plugin with Kustomize
      - name: avp-kustomize
        command: [/var/run/argocd/argocd-cmp-server]
        image: quay.io/argoproj/argocd:v2.5.7
        envFrom:
          - secretRef:
              name: argocd-vault-plugin-credential
        securityContext:
          runAsNonRoot: true
          runAsUser: 999
        volumeMounts:
          - mountPath: /var/run/argocd
            name: var-files
          - mountPath: /home/argocd/cmp-server/plugins
            name: plugins
          - mountPath: /tmp
            name: tmp

          # Register plugins into sidecar
          - mountPath: /home/argocd/cmp-server/config/plugin.yaml
            subPath: avp-kustomize.yaml
            name: cmp-plugin

          # Important: Mount tools into $PATH
          - name: custom-tools
            subPath: argocd-vault-plugin
            mountPath: /usr/local/bin/argocd-vault-plugin

      # argocd-vault-plugin with plain YAML
      - name: avp
        command: [/var/run/argocd/argocd-cmp-server]
        image: quay.io/argoproj/argocd:v2.5.7
        envFrom:
          - secretRef:
              name: argocd-vault-plugin-credential
        securityContext:
          runAsNonRoot: true
          runAsUser: 999
        volumeMounts:
          - mountPath: /var/run/argocd
            name: var-files
          - mountPath: /home/argocd/cmp-server/plugins
            name: plugins
          - mountPath: /tmp
            name: tmp

          # Register plugins into sidecar
          - mountPath: /home/argocd/cmp-server/config/plugin.yaml
            subPath: avp.yaml
            name: cmp-plugin

          # Important: Mount tools into $PATH
          - name: custom-tools
            subPath: argocd-vault-plugin
            mountPath: /usr/local/bin/argocd-vault-plugin

    envFrom:
      - secretRef:
          name: argocd-vault-plugin-credential
    #volumeMounts:
    #  - name: custom-tools
    #    mountPath: /usr/local/bin/argocd-vault-plugin
    #    subPath: argocd-vault-plugin

  applicationSet:
    enabled: true
    metrics: *metrics
